@page
@model IndexModel
@section CustomCSS{

}

<section class="bg-success text-light p-5 text-center">
	<div class="container">

		<div class="d-sm-flex">
			<h1>Welcome to the <span class="text-info"> MyHospital</span></h1>
			<img class="img-fluid" src="./Images/hospital.png" alt="Hospital img" />
		</div>
	</div>
</section>


