<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Hospital_MVC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Hospital_MVC.styles.css" asp-append-version="true" />

	@await RenderSectionAsync("CustomCSS",false)

</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg bg-light navbar-light">
			<div class="container">
				<a href="Index">
					<img class="w-25" src="./Images/hospital-clinic-plus-logo-7916383C7A-seeklogo.com.png" alt="Hospital logo" />
				</a>
				<a href="Index" class="navbar-brand">MyHospital</a>
			</div>
		</nav>
	</header>


		<main role="main" class="pb-3">
			@RenderBody()
		</main>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2023 - Hospital_MVC - <a asp-area="" asp-page="/Privacy">Privacy</a>
		</div>
	</footer>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@await RenderSectionAsync("CustomJS", required: false)
</body>
</html>