<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Hospital_MVC</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Hospital_MVC.styles.css" asp-append-version="true" />

	@await RenderSectionAsync("CustomCSS",false)

</head>
<body style="background-color:#FFCF9D">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#004225;">
			<div class="container">
				<a href="Index">
					<img class="w-25" src="./Images/hospital-clinic-plus-logo-7916383C7A-seeklogo.com.png" alt="Hospital logo" />
				</a>
			</div>
		</nav>
	</header>

		@RenderBody()

	<footer class="p-5 footer text-dark text-center position-relative" style="background-color:#FFCF9D">

			<p class="lead">Copyright &copy; 2023 - Hospital_MVC - <a asp-area="" asp-page="/Privacy">Privacy</a></p>
	</footer>

	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	@await RenderSectionAsync("CustomJS", required: false)

</body>
</html>